body {
  overflow: hidden;
  background-color: blue;
  background-image: url("./paisaje.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: snow;
}
#root {
  overflow: hidden;
  height: 100vh;
}
